html {
  position: relative;
  min-height: 100%;
  color: rgb(27, 28, 29);
  border: 1px solid;
  padding: 10px;
  box-shadow: 0px 0px 10px grey inset;
}

body {
  background-image: url(images/bg.png);
  /*background image from pexels.com*/
  background-size: 100%, repeat;
  margin: 0 0 100px;
}

h2,
h3,
h4 {
  font-weight: 600;
  background-color: rgba(112, 159, 161, 0.7);
}

h1,
h2,
h3,
h4,
p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4em;
  text-align: center;
}

h2 {
  font-size: 1.7em;
}

h4 {
  text-align: right;
}
header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1%;
  padding-left: 5%;
  padding-right: 5%;
}
header h1 {
  font-size: 2em;
  font-weight: 640;
}
header p {
  color: rgb(112, 159, 161);
  font-size: 2em;
  font-weight: 645;
  margin-bottom: 20px;
}

header nav {
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-wrap: nowrap;
  padding-left: 0;
}

header nav li {
  list-style: none;
  padding: 4px;
}

main {
  text-align: center;
}

input[type='text'],
textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type='text']:focus,
textarea:focus {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: rgb(184, 214, 240, 0.9);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto;
  max-width: 20em;
  padding: 10px;
  word-wrap: break-word;
}

a {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  /* links are a different font to slightly stand out */
}

section {
  background-color: rgba(84, 98, 110, 0.2);
  margin: 5% auto;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0px 0px 3px gray inset;
}

.top {
  height: 4px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 50%;
  margin-top: 80px;
  margin-bottom: 80px;
}
a:link {
  color: rgb(27, 28, 29);
}
a:visited {
  color: black;
}
a:hover {
  transition: 0.5s;
  color: rgb(112, 159, 161);
  text-shadow: 0px 1px 1px #000000;
}
a:active {
  color: black;
}

form a:link {
  color: rgb(112, 159, 161);
}

li {
  font-size: 1.4em;
  text-align: center;
}

main p {
  text-align: left;
  margin: 10px;
}
img {
  border-radius: 8%;
  padding: 10px;
  max-width: 300px;
  height: auto;
}

button {
  letter-spacing: 2px;
  background-color: rgba(112, 159, 161, 0.9);
  color: whitesmoke;
  border: none;
  margin-top: 5px;
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  border: none;
  color: rgb(112, 159, 161);
  background-color: rgba(65, 56, 56, 0.9);
  text-shadow: 2px 2px 4px #000000;
  transition: 0.5s;
}
label {
  font-size: 1.2em;
  padding: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(65, 56, 56, 0.8);
  text-align: center;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px;
  font-weight: bold;
  font-size: 1.1em;
}

.footer a {
  color: rgb(112, 159, 161);
  text-decoration: none;
  padding-left: 5px;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
#projects span {
  display: inline-block;
  border: solid 1px rgba(112, 159, 161, 0.9);
  border-radius: 3px;
  font-weight: bold;
  padding: 5px 8px;
  margin: 3px 3px;
  font-size: 12px;
  cursor: default;
}

#projects .buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

#projects .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 2.8em;
  background-color: rgba(112, 159, 161, 0.9);
  border-width: 1px;
  border-radius: 3px;
  outline: none;
  color: white;
  margin-right: 8px;
  cursor: pointer;
  text-decoration: none;
  padding-top: 3px;
}

#projects .button:hover {
  border: none;
  color: rgb(112, 159, 161);
  background-color: rgba(65, 56, 56, 0.9);
  text-shadow: 2px 2px 4px #000000;
  transition: 0.5s;
}

#projects .button:active {
  transform: scale(0.95);
}

.sidebyside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* This <hr> element is for the vertical section divider*/
.divider {
  border: 2px solid rgba(1, 1, 1, 0.5);
}
.group {
  display: flex;
  flex-direction: column;
}

.projects-group {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.link {
  padding-right: 5px;
}

.item {
  flex: 1;
}

.info-group {
  align-items: center;
}

.center-p {
  padding: 5px;
  text-align: center;
}

.tools {
  margin-bottom: 25px;
}

.tools small {
  display: flex;
  flex-wrap: wrap;
}

.tools span {
  width: fit-content;
}

/* desktop css */
@media all and (min-width: 600px) {
  header nav ul {
    flex-direction: row;
  }
  .group {
    flex-direction: row;
    flex: 1;
    padding: 8px;
  }

  .sidebyside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  p {
    text-align: center;
  }
  .buttons {
    justify-content: space-evenly;
  }
}
